node_modules
data/
out/
/electron-builder.yml
dist/
dist-renderer/
*.txt
*.js.map
*.css.map
/main.js
/main_update.js
/src/js/**/*.js
src/html/main/renderer.bundle.js
/src/utils.js
/src/appContext.js
/src/preload.js
/src/ipc/**/*.js
debug_crash.log
audit_report.html
.store-key
